@model IEnumerable<SquaresGame.Models.SquareGame>

@{
    ViewData["Title"] = "Squares Games";
}

<h1>List of Squares Games</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Round)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameGenre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Round)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payout)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="Square" asp-action="Index" asp-route-id="@item.Id">View</a>
            </td>
        </tr>
}
    </tbody>
</table>
